language = "nodejs"
run = """
apt-get update
apt-get install -y python3
curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
apt-get install -y nodejs ffmpeg
npm install
npm start
"""
entrypoint = "index.js"
[nix]
channel = "stable-22_11"
[deployment]
build = ["sh", "-c", "npm install"]
run = ["sh", "-c", "npm start"]
